<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="radioactive_dbConnectionString" connectionString="Data Source=S16-315;Initial Catalog=radioactive_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="radioactive_dbConnectionString2" connectionString="Data Source=S16-315;Initial Catalog=radioactive_db;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>